#board {
    min-height: 640px;
    min-width: 640px;
    max-height: 640px;
    max-width: 640px;
    user-select: none;
    cursor: pointer;
}

move-pane {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    max-width: 200px;
    min-width: 200px;
    align-items: flex-start;
    align-content: flex-start;
}

move-pane > div.san {
    width: 70px;
    padding-left: 15px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

move-pane > div.num {
    background-color: lightgray;
    width: 30px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

move-pane > div.san::hover {
    background-color: orange;
}


move-pane > div.curr {
    background-color: darkorange;
}

.white-perspective {}

.black-perspective {
    transform: rotate(180deg);
}

.white-perspective .black.k {
    background-image: url(../pieces/0/CHESS_kdt45.svg);
}
.white-perspective .black.q {
    background-image: url(../pieces/0/CHESS_qdt45.svg);
}
.white-perspective .black.r {
    background-image: url(../pieces/0/CHESS_rdt45.svg);
}
.white-perspective .black.b {
    background-image: url(../pieces/0/CHESS_bdt45.svg);
}
.white-perspective .black.n {
    background-image: url(../pieces/0/CHESS_ndt45.svg);
}
.white-perspective .black.p {
    background-image: url(../pieces/0/CHESS_pdt45.svg);
}

.black-perspective .black.k {
    background-image: url(../pieces/0/CHESS_kdt45r.svg);
}
.black-perspective .black.q {
    background-image: url(../pieces/0/CHESS_qdt45r.svg);
}
.black-perspective .black.r {
    background-image: url(../pieces/0/CHESS_rdt45r.svg);
}
.black-perspective .black.b {
    background-image: url(../pieces/0/CHESS_bdt45r.svg);
}
.black-perspective .black.n {
    background-image: url(../pieces/0/CHESS_ndt45r.svg);
}
.black-perspective .black.p {
    background-image: url(../pieces/0/CHESS_pdt45r.svg);
}

.white-perspective .white.K {
    background-image: url(../pieces/0/CHESS_klt45.svg);
}
.white-perspective .white.Q {
    background-image: url(../pieces/0/CHESS_qlt45.svg);
}
.white-perspective .white.R {
    background-image: url(../pieces/0/CHESS_rlt45.svg);
}
.white-perspective .white.B {
    background-image: url(../pieces/0/CHESS_blt45.svg);
}
.white-perspective .white.N {
    background-image: url(../pieces/0/CHESS_nlt45.svg);
}
.white-perspective .white.P {
    background-image: url(../pieces/0/CHESS_plt45.svg);
}

.black-perspective .white.K {
    background-image: url(../pieces/0/CHESS_klt45r.svg);
}
.black-perspective .white.Q {
    background-image: url(../pieces/0/CHESS_qlt45r.svg);
}
.black-perspective .white.R {
    background-image: url(../pieces/0/CHESS_rlt45r.svg);
}
.black-perspective .white.B {
    background-image: url(../pieces/0/CHESS_blt45r.svg);
}
.black-perspective .white.N {
    background-image: url(../pieces/0/CHESS_nlt45r.svg);
}
.black-perspective .white.P {
    background-image: url(../pieces/0/CHESS_plt45r.svg);
}

.white-perspective .rotate-with-board {}

.black-perspective .rotate-with-board {
    transform: rotate(180deg);
}
